name: "Coverage"

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup
        uses: ./.github/actions/setup
      - name: Install Playwright Browsers
        uses: ./.github/actions/playwright-browser-install
      - name: Test
        run: pnpm run -r --parallel --aggregate-output test
      - name: coverage
        uses: qltysh/qlty-action/coverage@v2
        with:
          #token: ${{secrets.QLTY_COVERAGE_TOKEN}}
          oidc: true
          files: |
            ${{github.workspace}}/packages/aria-voyager/coverage/lcov.info
            ${{github.workspace}}/packages/svelte-aria-voyager/coverage/lcov.info
          # ${{github.workspace}}/packages/ember-aria-voyager/test-app/coverage/lcov.info:lcov
