name: 'Coverage'

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
        env:
          COVERAGE: true
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
      - name: coverage
        uses: paambaati/codeclimate-action@v9.0.0
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
          COVERAGE: true
        with:
          coverageCommand: pnpm run -r --parallel --aggregate-output test
          coverageLocations: |
            ${{github.workspace}}/packages/aria-voyager/coverage/lcov.info:lcov
            ${{github.workspace}}/packages/ember-aria-voyager/test-app/coverage/lcov.info:lcov
